<app-header [title]="isEdit ? 'Editar Jugador' : 'Agregar jugador'" [subtitle]="'Ingrese los datos del jugador'"></app-header>
<div class="container">

    <div class="row ">
        <div class="col-md-12">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre">
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-md-12">
            <label for="posicion" class="form-label">Posicion:</label>
            <input type="text" class="form-control" name="posicion" [(ngModel)]="posicion">
        </div><br><br>

        <div class="col-md-12">
            <label for="dorsal" class="form-label">Dorsal:</label>
            <input type="number" class="form-control" name="dorsal" [(ngModel)]="dorsal">
        </div>
    </div>
<br>
    <div class="row ">
        <div class="col-md-12">
            <button type="submit" class="btn bg-primary" *ngIf="!isEdit" (click)="onSave()">Guardar</button>
            <button type="submit" class="btn bg-primary" *ngIf="isEdit" (click)="onEdit()">Editar</button>
            <button type="submit" class="btn bg-primary mx-2" (click)="onCancel()" >Cancelar</button>
        </div>
    </div>
</div>

<br><hr>
